.dScreen {
  height: 800vh;
}

.pScreen {
  height: 150vh;
}

.pScreen1a {
  height: 1400px;
}

.pScreen1b {
  height: 600px;
}

.pScreen2a {
  height: 550px;
}

.pScreen2b {
  height: 500px;
}

.pScreen2c {
  height: 300px;
}

.d1 {
  top: 2rem;
  left: 2rem;
}

.d2 {
  top: 5rem;
  left: 16rem;
}

.d3 {
  top: 3rem;
  left: 24rem;
}

.posterBox {
  width: 30rem;
  height: 30rem;
}
