.smallLogo {
  position: absolute;
  left: 50%;
  font-size: 1rem;
  transform: translateX(-50%);
  opacity: 0%;
  animation: show 0.5s ease forwards 2s;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  animation: fill 0.5s ease forwards 2s;
}

.logo path:nth-child(1) {
  stroke-dasharray: 2005px;
  stroke-dashoffset: 2005px;
  animation: line-anim 10s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes show {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
